div.login-wrapper
	form.login-form(action="")
		span.logo Finance<strong>Dash</strong>
		input(type="input", placeholder="Username")
		input(type="password", placeholder="Password")
		input(type="submit", value="Login")