div.nav-wrapper
	a.brand-logo Stocks
	ul#nav-mobile.right.hide-on-med-and-down
		li
			a(ui-sref='app.dashboard', ui-sref-active='active') dashboard
		li
			a(ui-sref='app.stocks', ui-sref-active='active') stocks
