div.nav-wrapper
	a.brand-logo FinanceDash test
	ul#nav-mobile.right.hide-on-med-and-down
		li
			a(ui-sref='app.dashboard', ui-sref-active='active') 
				span | Dashboard
		li
			a(ui-sref='app.wallet', ui-sref-active='active') 
				span | Wallet
