a(onclick="toast('<span>Item Deleted</span><a class=\"btn-flat yellow-text\" href=\"#\">Undo<a>', 5000)").waves-effect.waves-light.btn press this motherfucker

a(data-activates='dropdown1', data-beloworigin="true", href="#").dropdown-button.btn Drop



ul#dropdown1.dropdown-content
	li
		a(href='#') one
		|
	li
		a(href='#') two
		|
	li.divider
		|
	li
		a(href='#') three
